<?php

namespace App\Console\Commands\Test;

use Illuminate\Console\Command;
use App\Utils\Logging\Logger;

class Test extends Command
{
    protected $signature = 'test:do';
    protected $description = 'Das ist ein Test-Befehl.';

    public function handle(): int
    {
        $this->info('Test-Befehl wurde ausgeführt.');

        Logger::debug('Das ist eine Debug-Meldung aus test:do', [
            'user' => auth()->user()->username ?? 'cli',
            'time' => now()->toDateTimeString(),
        ]);

		sleep(2);
        return Command::SUCCESS;
    }
}
